#place_list {
   width: 70%;
   margin: 10px;
}
#place_list, #place_list th {
    border: 1px solid black;
}

#place_list tr:nth-child(odd){
    background-color: #f2f2f2;
} 


#place_list th{
    width: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2vmin;
    background-color: black;
    color: azure;
}


#place_list td{
    text-align: center;
    font-size: 2vmin;
}

#place_list td img{
    height: 60%;
    width: 60%;
}

#search_box{
    padding-left: 1%;
    margin: 1%;
}

#search_box_container input{
    width: 35%;
    height: 30px;
    font-size: 2vmin;
    background-color: #e6e6e6;
    border-radius: 10px;
    outline: none;
}

 #new_place_btn{
    height: 40px;
    width: 20%;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    background-color: #4c80e6;
    color: white;
    font-size: 2vmin;
    
 }

 #action_button_container{
     display: flex;
     flex-wrap: nowrap;
 }

 #update_btn, #delete_btn{
     height: 6vmin;
     width: 10vmin;
     border-radius: 8px;
     outline: none;
     margin-top: 10px;
     margin-bottom: 10px; 
 }

 #update_btn{
     margin-left: 1%;
     margin-right: 2%;
     background-color: #3d7af5; 
     color: white;
     font-size: 95%
 }

 #delete_btn{
    margin-right: 1%;
    margin-left: 2%;
    background-color:  #ff4d4d; 
    color: white;
    font-size: 95%
}